@import '@vueform/toggle/themes/default.scss';

:root {
  --toggle-width: 3rem;
  --toggle-height: 1.25rem;
  --toggle-border: 0.125rem;
  --toggle-font-size: 0.75rem;
  --toggle-duration: 150ms;
  --toggle-bg-on: theme("colors.portal-orange.500");
  --toggle-bg-off: theme("colors.zinc.300");
  --toggle-bg-on-disabled: #d1d5db;
  --toggle-bg-off-disabled: #e5e7eb;
  --toggle-border-on: theme("colors.portal-orange.600");
  --toggle-border-off: theme("colors.zinc.400");
  --toggle-border-on-disabled: #d1d5db;
  --toggle-border-off-disabled: #e5e7eb;
  --toggle-ring-width: 0px;
  --toggle-ring-color: #10B98130;
  --toggle-text-on: #ffffff;
  --toggle-text-off: #374151;
  --toggle-text-on-disabled: #9ca3af;
  --toggle-text-off-disabled: #9ca3af;
  --toggle-handle-enabled: #ffffff;
  --toggle-handle-disabled: #f3f4f6;
}

.toggle-container:focus {
    @apply rounded-xl;
}
